.row{
    background-color: #999792;
    padding: 20px;
}
.column{
    height: 300px;
    /* background-color: #ebb828; */
    border: 1px solid #f7d26a;

    width: 20%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 8px;

}
.content{
    background-color: #fff;
}